---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Object Name'
    value: page.object_name
  - label: 'Title'
    value: page.label
  - label: 'Date'
    value: page._date
  - label: 'Place'
    value: page.location
  - label: 'Author'
    value: page.author
  - label: 'Author, date of birth, death'
    value: page.author_placeofbirthdeath
  - label: 'Contributor or associated name'
    value: page.contributor_or_associated_name
  - label: 'Publisher'
    value: page.publisher
  - label: 'Place of publication'
    value: page.place_of_publication
  - label: 'Collector'
    value: page.collector
  - label: 'Holding institution'
    value: page.holding_institution
  - label: 'Description from holding institution'
    value: page.description_from_holding_institution
  - label: 'Source'
    value: page.source
    type: link
  - label: 'Copyright'
    value: page.copyright
  - label: 'Notes'
    value: page.notes
  - label: 'IIIF manifest'
    value: page.IIIF_manifest
---