---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Object Name'
    value: page.object_name
  - label: 'Title'
    value: page.title
  - label: 'Place'
    value: page.location
  - label: 'Collector'
    value: page.collector
  - label: 'Date'
    value: page._date
  - label: 'Description'
    value: page.description
  - label: 'Current Location'
    value: page.current_location
  - label: 'Repository'
    value: page.repository
  - label: 'Copyright'
    value: page.copyright
---